---
import { Image } from "astro:assets";
import { format } from "date-fns/format";
import { useTranslations } from "../i18n/utils";

const { articles, lang } = Astro.props;

const t = useTranslations(lang);

function getAbstract(blocks, length = 200) {
  let abstract = "";
  for (const block of blocks) {
    if (block.type === "paragraph") {
      abstract += block.data.text + " ";
    }
    if (abstract.length >= length) {
      break;
    }
  }
  // Ensure the abstract doesn't cut off mid-word
  if (abstract.length > length) {
    abstract = abstract.substring(0, length);
    const lastSpaceIndex = abstract.lastIndexOf(" ");
    if (lastSpaceIndex > 0) {
      abstract = abstract.substring(0, lastSpaceIndex);
    }
  }
  return abstract + "...";
}
---

<div class="news-article h-full">
  {
    articles.map((article) => {
      const abstract = getAbstract(article.translations[0].content.blocks);
      return (
        <div>
          <Image
            src={`https://cms.fairclouds.life/assets/${article.image}`}
            alt=""
            width={1600}
            height={900}
          />
          <time
            datetime={article.date_created}
            class="mb-1 text-small block opacity-60"
          >
            {format(new Date(article.date_created), "EEEE, dd.MM.yyyy")}
          </time>
          <h4>{article.translations[0].title}</h4>
          <p>{abstract}</p>
          <a
            class="button mt-4"
            href={`/${lang}/blog/${article.slug}`}
            target="_blank"
          >
            {t("readmore")}
          </a>
        </div>
      );
    })
  }
</div>
